body{
    background-color: darksalmon;
    color: aliceblue;
}
.container{
    height: 100%;
    width: 100%;
}
.nav_welcome{
    background-color: rgb(255, 255, 0);
    color: red;
    font-size: 50px;
    height: 120px;
    width: 100vw;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#display{
    border: none;
    background-color: rgb(255, 255, 0);
    color: brown;
    font-size: 50px;
    outline: none;
    margin-left: 20px;
    font-weight: bold;
}
.names{
  display: grid; /* Set the display property to "grid" */
  grid-template-columns: repeat(5, 1fr); /* Define the number and size of columns */
  grid-gap: 10px
}
.name{
    height: 30px;
    width: 200px;
    margin: 20px;
    padding: 5px;
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateX(10px);
    }
    50% {
        transform: translateY(-20px);
    }
}
.sfl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 70px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aquamarine;
    background-color: yellow;
    /* outline: none; */
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(255, 217, 0);
    color: cadetblue;
}
